// Copyright (c) 2018 Tildes contributors <code@tildes.net>
// SPDX-License-Identifier: AGPL-3.0-or-later

#site-footer {
  padding: 0.2rem;
  padding-bottom: 1rem;

  font-size: 0.6rem;
  text-align: center;
}

.site-footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style-type: none;
  margin: 0;
}

.site-footer-link {
  @include min-touch-size;

  margin: 0;
  white-space: nowrap;

  & + & {
    margin-left: 1rem;
  }
}

.site-footer-theme-selection {
  font-style: normal;
  margin-bottom: 1rem;

  select {
    width: auto;
    font-size: 0.6rem;
    height: 1.4rem;
    padding: 0 0 0 0.2rem;
  }
}
